<mat-drawer-container
  #drawerContainer
  class="example-container"
  autosize
  (close)="drawer.close()"
  (backdropClick)="drawer.close()"
>
  <div
    class="flex flex-row w-full lg:w-[88%] 2xl:w-[1200px] relative lg:max-h-[100%] items-stretch"
  >
    <mat-drawer
      #drawer
      class="example-sidenav"
      [mode]="isMobile() ? 'over' : 'side'"
      [opened]="!isMobile()"
    >
      <!--<app-menu></app-menu>-->
      <ng-container #menuPlaceHolder></ng-container>
    </mat-drawer>
    <div
      class="flex flex-row w-full h-20 lg:w-auto lg:h-full items-stretch fixed lg:relative ctrls-left"
      [ngClass]="
        !drawer?.opened
          ? 'left-0 xl:left-[-13px]'
          : 'left-0 lg:left-[145px] xl:left-[138px]'
      "
    >
      <div
        class="flex flex-wrap w-full lg:w-auto h-20 lg:h-full z-10 fixed top-0"
      >
        <div
          class="flex flex-row w-full lg:w-auto lg:flex-col justify-between bg-mobil p-4 xl:pe-6 gap-4 lg:ms-4 items-center lg:h-full"
        >
          <app-toggle-sidenav-btn
            (toggleSidenavEvent)="drawer.toggle()"
          ></app-toggle-sidenav-btn>
          <app-like-button-counter></app-like-button-counter>
        </div>

        <div class="flex flex-row w-full lg:w-auto lg:h-full">
          <mat-divider
            [vertical]="!isMobile() && true"
            class="w-full lg:w-auto"
          ></mat-divider>
        </div>
      </div>
    </div>
    <div class="example-sidenav-content" [class.close-sidenav]="!drawer.opened">
      <router-outlet />
      <div class="section footer relative" id="footer">
        <mat-divider class="w-full footer-divider"></mat-divider>
        <!--<app-footer 
          [ngClass]="
            drawer.opened
              ? 'lg:w-[calc(100% - 200px)] 2xl:w-[calc(100%-300px)] 2xl:ms-[150px]'
              : '2xl:w-full ms-[0] px-20'
          "
        ></app-footer>-->
        <app-footer
          [class.drawer-closed]="!drawer.opened"
          class="footer-container"
        ></app-footer>
      </div>
    </div>

    <div
      class="flex flex-row w-full lg:w-auto h-20 lg:h-full fixed bottom-0 lg:relative z-10"
    >
      <div
        class="flex flex-wrap w-full lg:w-auto lg:h-full fixed bottom-0 lg:top-0 column-right right-0 xl:right-auto"
      >
        <mat-divider
          [vertical]="!isMobile() && true"
          class="w-full lg:w-auto"
        ></mat-divider>
        <div
          class="flex flex-row w-full lg:w-auto lg:flex-col p-4 lg:pe-6 gap-4 2xl:ms-4 justify-between"
        >
          <app-shared-btn></app-shared-btn>
          <button mat-fab class="outline-button">
            <mat-icon>download</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</mat-drawer-container>
