<button
  mat-fab
  class="outline-button lg:left-[-10px]"
  matTooltip="¿Te gustó este proyecto? Dale like!"
  matTooltipPosition="above"
  (click)="like($event)"
  [matBadge]="counter"
  [matBadgeHidden]="false"
  [disabled]="loadLikeEvn"
>
  <span class="flex flex-row items-center justify-center">
    @if (isLoading) {
    <mat-progress-spinner
      class="example-margin"
      mode="indeterminate"
      diameter="20"
    >
    </mat-progress-spinner>
    } @else {
    <mat-icon>thumb_up</mat-icon>
    }
  </span>
</button>
