<div class="flex flex-col w-full px-[2rem] md:px-[5rem] mb-30 pt-10">
  <div class="flex flex-col items-start my-8">
    <h3 class="text-4xl md:text-6xl">Skills mas usados:</h3>
    <sub class="text-2xl"
      >siempre de la mano de html5, scss, js, entre otros...
    </sub>
  </div>
  @defer (when skills()) { @for (skill of skills(); track $index;) { @if($index
  % 2 === 0) {
  <section
    #skillItem
    class="skill-item w-full flex flex-row gap-4 items-center justify-end my-8 relative right-item"
  >
    <div class="w-20 h-[1px] border-line absolute -right-8 md:-right-20">
      <sub class="years-text"
        >X {{ skill.workedTimeYears }}
        {{ skill.workedTimeYears > 1 ? 'años' : 'año' }}</sub
      >
    </div>
    <div class="flex flex-col items-end">
      <h4
        class="animate__animated animate__fadeInUp text-2xl md:text-3xl"
        [style]="{ 'animation-delay': $index * 0.6 + 's' }"
      >
        {{ skill.title }}:
      </h4>
      <p
        class="text-end animate__animated animate__fadeInUp"
        [style]="{ 'animation-delay': $index * 0.6 + 's' }"
      >
        {{ skill.description }}
      </p>
    </div>
    <div class="image w-20 h-20 image-border">
      <span class="first-border"></span>
      <div class="image-sprite" [ngClass]="skill.title.toLowerCase()"></div>
    </div>
  </section>
  } @else {
  <section
    #skillItem
    class="skill-item w-full flex flex-row-reverse gap-4 items-center justify-start my-8 relative left-item"
  >
    <div class="w-20 h-[1px] border-line absolute -left-8 md:-left-20">
      <sub class="years-text"
        >X {{ skill.workedTimeYears }} año{{
          skill.workedTimeYears > 1 ? 's' : ''
        }}</sub
      >
    </div>
    <div class="flex flex-col items-start">
      <h4
        class="animate__animated animate__fadeInUp text-3xl"
        [style]="{ 'animation-delay': $index * 0.6 + 's' }"
      >
        {{ skill.title }}:
      </h4>
      <p
        class="text-start animate__animated animate__fadeInUp"
        [style]="{ 'animation-delay': $index * 0.6 + 's' }"
      >
        {{ skill.description }}
      </p>
    </div>
    <div class="image w-20 h-20 image-border flex flex-row-reverse">
      <span class="first-border"></span>
      <div
        #imageSpinner
        class="image-sprite"
        [ngClass]="skill.title.toLowerCase()"
        [attr.data-index]="$index"
      ></div>
    </div>
  </section>
  } } } @placeholder {
  <!-- Mientras carga, muestra un spinner o mensaje -->
  <div class="w-full flex justify-center py-10">
    <mat-progress-bar mode="query"></mat-progress-bar>
    <p class="mt-4">Cargando skills...</p>
  </div>
  } @loading (minimum 500ms) {
  <!-- Opcional: Si la carga tarda más de 500ms, muestra esto -->
  <div class="w-full flex justify-center py-10">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  } @error {
  <!-- Manejo de errores si falla la carga -->
  <p class="text-red-500">Error al cargar los skills.</p>
  }
</div>
