<div class="flex flex-col w-full px-8 lg:px-[5rem] p-8 lg:pb-[5rem]">
  <div class="flex flex-col lg:items-start text-center lg:text-start mt-10 mb-0 lg:my-8 pt-10">
    <h3 class="text-4xl lg:text-6xl">Experiencia laboral:</h3>
    <sub class="text-2xl">Mi recorrido en 11 años de trabajo</sub>
  </div>
</div>

<div class="w-full flex flex-row justify-center items-center relative mb-32">
  <div class="w-full absolute top-20 h-[1px] z-0">
    <mat-divider></mat-divider>
  </div>
  <button
    mat-fab
    class="-me-20 lg:ms-[-30px] lg:me-[-30px] z-2 -mt-16 lg:mt-0 relative"
    (click)="leftItem(); readMore(null)"
  >
    <mat-icon>chevron_left</mat-icon>
  </button>
  <div class="flex flex-col w-full lg:px-[5rem]">
    <div
      #patternElementScroll
      class="w-full flex whitespace-nowrap overflow-auto pattern-scroller"
    >
      @for (experience of experiences(); track $index;) {
      <div
        class="min-w-full lg:min-w-[280px] justify-start items-center relative z-5 item-carr"
        [ngClass]="$index === experiences().length - 1 ? 'me-0' : 'me-0 lg:me-2'"
      >
        <div class="flex flex-col w-full items-center justify-center">
          <h5>{{ experience.empresa }}</h5>
          <button
            mat-fab
            class="btn-step flex my-4 text-center justify-center items-center"
            (click)="readMore($index)"
            [ngClass]="{
              'active-step': readMoreTxt() === $index
            }"
          >
            <h4>{{ experience.inicio }}</h4>
          </button>
          <h5 class="mt-5 lg:mt-0">{{ experience.puesto }}</h5>
          <div class="flex items-center text-center justify-center w-full whitespace-pre-line p-4 px-10 sm:px-36 lg:px-4 box-border">
            {{
              readMoreTxt() !== null
                ? readMoreTxt() === $index
                  ? experience.descripcion
                  : experience.descripcion.slice(0, 120) + '...'
                : experience.descripcion.slice(0, 120) + '...'
            }}
          </div>
          <button mat-button (click)="readMore($index)">Leer más</button>
        </div>
      </div>
      }
    </div>
  </div>
  <button
    (click)="nextItem(); readMore(null)"
    mat-fab
    class="-ms-14 -mt-16 lg:mt-0 lg:ms-[-30px] lg:me-[-30px] z-2 relative"
  >
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>
